#container{
    text-align: center;
    animation-name: test;
    animation-duration: 2s;
}

@keyframes test{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#container #resume{
    padding: 100px;
}

img{
    height: auto;
    max-width: 100%;
}